---
layout: archive
---

{{ content }}

<div style="max-width: 1100px; margin: 0 auto; text-align: justify;">
  <p style="text-align: justify; margin-top: 10px;">
    Hello!<br>
    My name is Nikolas Anastasiou, I am a Surveying and Geoinformatics Engineer. Here you can find my:
  </p>
  <ul style="margin-left: 20px;">
    <li>CV</li>
    <li>Diploma Thesis</li>
    <li>Geoinformatics Projects</li>
  </ul>
  <p style="text-align: justify;">
    My interests lie mostly in Remote Sensing, Earth Observation, and Deep Learning.<br>
    Use my email to contact me!
  </p>
</div>


