---
layout: archive
---

{{ content }}

<div style="max-width: 1100px; margin: 0 auto; text-align: justify;">
  <p style="text-align: justify; margin-top: 10px;">
    Hello!, my name is Nikolas Anastasiou, I am a Surveying and Geoinformatics Engineer. Here you can find my:
  </p>
  <ul style="margin-left: 20px;">
    <li><a href="https://nikos230.github.io/cv/" target="_blank" rel="noopener noreferrer">CV</a></li>
    <li><a href="https://nikos230.github.io/diploma_thesis/" target="_blank" rel="noopener noreferrer">Diploma Thesis</a></li>
    <li><a href="https://nikos230.github.io/geoinformatics_projects/" target="_blank" rel="noopener noreferrer">Geoinformatics Projects</a></li>
  </ul>
  <p style="text-align: justify;">
    My interests lie mostly in Remote Sensing, Earth Observation, and Deep Learning. Use my email to contact me!
  </p>
</div>


